<!DOCTYPE html>
<html>
<head>
  <title>NormanJaffe</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<!== Create Navigation links and style nav bar ==>
	<div class="container">
		<ul class="nav nav-tabs">
			<li><%= link_to "Home", welcome_index_path %></li>
			<li><%= link_to "Philosophy", welcome_philosophy_path %></li>
			<li><%= link_to "Projects", welcome_projects_path %></li>
			<li><%= link_to "Biography", welcome_biography_path %></li>
			<li><%= link_to "Contact", welcome_contact_path %></li>
		</ul>
	</div>

<%= yield %>

</body>
</html>
